<!doctype html>
<html lang="ru">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Ascend_Beta</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <style>
        /* Убирает спиннеры в Chrome, Safari, Edge, and Opera */
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Класс для скрытия таблиц */
        .not-shown {
            display: none;
        }
    </style>

</head>

<body class="bg-body-tertiary">

    <header>
        <!-- Навигационная панель (можно добавить ScrollSpy) -->
        <nav class="navbar bg-body-tertiary shadow rounded mb-5 p-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="https://justfin.tech/">
                    <img src="icons/justfintech.svg" alt="Logo" width="auto" height="30"
                        class="d-inline-block align-text-top">
                </a>
            </div>
        </nav>
    </header>

    <main>
        <div class="container text-center">

            <div class="row row-cols-3 gx-5 mt-5 align-items-start justify-content-center">
                <div class="col-lg">
                    <div class="col-md text-center bg-white rounded p-2 border">
                        <h5>
                            Средний курс
                        </h5>
                        <p>
                            Lorem ipsum text text text text
                        </p>
                    </div>
                </div>
                <div class="col-lg">
                    <div class="col-md text-center bg-white rounded p-2 border">
                        <h5>
                            История курсов
                        </h5>
                        <p>
                            Lorem ipsum text text text text
                        </p>
                    </div>
                </div>
                <div class="col-lg">
                    <div class="col-md text-center bg-white rounded p-2 border">
                        <h5>
                            Лучшая страна
                        </h5>
                        <p>
                            Lorem ipsum text text text text
                        </p>
                    </div>
                </div>
            </div>

            <div class="row gx-5 mt-5 gy-3 align-items-start">
                <div class="col-lg">
                    <div class="text-center table-responsive bg-white rounded p-2 border">
                        <div class="text-center my-3">
                            <div class="btn-group dropdown-center px-auto">
                                <button type="button" class="btn btn-lg dropdown-toggle" id="button-country"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ countries[0].name }}
                                </button>
                                <ul class="dropdown-menu">
                                    {% for country in countries %}
                                    <li><button class="dropdown-item {{ country.enabled_button}}" type="button"
                                            id="button-{{country.index}}">{{ country.name }}</button></li>
                                    {% endfor %}
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><button class="dropdown-item" type="button">Best rates</button></li>
                                </ul>
                            </div>
                        </div>
                        {% for country in countries %}
                        <!-- Таблицы с курсами, .not-shown отвечает за скрытие таблицы при нажатии кнопки. CSS для этого класса в <head>. При добавлении новых стран нужно обновить массив таблиц в JS в конце <body> -->
                        <div class="mt-3 mb-3 {{ country.is_visible }}" id="content-{{ country.index }}">
                            <table id="table-{{ country.index }}"
                                class="table table-hover overflow-x-scroll mb-1 bg-white">
                                <thead>
                                    <tr>
                                        <td>Bank Name</td>
                                        <td colspan="2">
                                            <div class="container-fluid text-center">
                                                Euro
                                            </div>
                                            <div class="container-fluid text-center">
                                                <div class="row align-items-start">
                                                    <div class="col">
                                                        Sell
                                                    </div>
                                                    <div class="col">
                                                        Buy
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td colspan="2">
                                            <div class="container-fluid text-center">
                                                Dollar
                                            </div>
                                            <div class="container-fluid text-center">
                                                <div class="row align-items-start">
                                                    <div class="col">
                                                        Sell
                                                    </div>
                                                    <div class="col">
                                                        Buy
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                    {% for bank in country.rates %}
                                    <tr>
                                        <td id="name-{{ bank.bank }}">{{ bank.bank }}</td>
                                        <td id="{{ bank.bank }}-1">{{ bank.sell_eur }}</td>
                                        <td id="{{ bank.bank }}-2">{{ bank.buy_eur }}</td>
                                        <td id="{{ bank.bank }}-3">{{ bank.sell_usd }}</td>
                                        <td id="{{ bank.bank }}-4">{{ bank.buy_usd }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% endfor %}
                        
                        <div class="not-shown">
                            {% for country in countries %}
                            <table id="tech-table-{{ country.index }}">
                                <tbody>
                                        {% for bank in country.tech_rates %}
                                    <tr>
                                        <td id="tech-name-{{ bank.bank }}">{{ bank.bank }}</td>
                                        <td id="tech-{{ bank.bank }}-1">{{ bank.sell_eur }}</td>
                                        <td id="tech-{{ bank.bank }}-2">{{ bank.buy_eur }}</td>
                                        <td id="tech-{{ bank.bank }}-3">{{ bank.sell_usd }}</td>
                                        <td id="tech-{{ bank.bank }}-4">{{ bank.buy_usd }}</td>
                                    </tr>
                                        {% endfor %}
                                </tbody>
                            </table>
                            {% endfor %}
                        </div>
                    </div>
                </div>



                <!-- Конвертер и кнопка изменения страны -->
                <div class="col-lg">
                    <div class="bg-white rounded p-2 border">
                        <div class="text-center mt-3">
                            <h5>Converter</h5>
                            <div class="row justify-content-center mt-3 px-3">
                                <!-- Формы выбора банка в конвертере. В каждой стране своя форма, .not-shown отвечает за скрытие таблицы при нажатии кнопки. CSS для этого класса в <head>. При добавлении новых стран нужно обновить массив селектов в JS в конце <body> -->
                                <div class="col">
                                    {% for country in countries %}
                                    <form class="{{ country.is_visible }}" id="bank-select-{{ country.index }}">
                                        <select class="form-select" id="select-{{ country.index }}">
                                            {% for bank in country.rates %}
                                            <option value="{{ loop.index - 1 }}"> {{ bank.bank }} </option>
                                            {% endfor %}
                                        </select>
                                    </form>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row row-cols-2 justify-content-center mt-2 px-3">
                                <div class="col-xs">
                                    <form id="form-select-cur-1">
                                        <select class="form-select" id="select-cur-1">
                                            <option id='select-cur-1-option-1' value="1" selected>RUR</option>
                                            <option id='select-cur-1-option-2' value="2">USD</option>
                                            <option id='select-cur-1-option-3' value="3">EUR</option>
                                        </select>
                                    </form>
                                </div>
                                <div class="col-xs">
                                    <form id="form-select-cur-2">
                                        <select class="form-select" id="select-cur-2">
                                            <option id='select-cur-2-option-1' value="1" disabled>RUR</option>
                                            <option id='select-cur-2-option-2' value="2" selected>USD</option>
                                            <option id='select-cur-2-option-3' value="3">EUR</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                            <div class="row row-cols-2 justify-content-center mt-2 px-3">
                                <div class="col-xs">
                                    <form id="input-form-1">
                                        <input type="number" class="form-control" id="number1" name="number1">
                                    </form>
                                </div>
                                <div class="col-xs">
                                    <form id="input-form-2">
                                        <input type="number" class="form-control" id="number2" name="number2">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <footer>
        <!-- something -->
    </footer>

    <!-- Скрипт, отвечающий за кнопки в меню. Требуется обновить его при добавлении новых стран. Нужные части кода отмечены комментариями -->
    <script>
        const countries_list = [
            "Armenia",
            "Georgia"
        ]
        let selected_country = "{{ countries[0].index }}";
        let selected_table = document.getElementById("tech-table-" + selected_country);
        let form_select_bank = document.getElementById("select-" + selected_country);
        let selected_bank = 0;

        // Массив с таблицами (!ОБНОВИТЬ ПРИ ДОБАВЛЕНИИ СТРАНЫ!)
        const tables = [
            document.getElementById('content-am'),
            document.getElementById('content-ge')
        ];
        // Массив с кнопками (!ОБНОВИТЬ ПРИ ДОБАВЛЕНИИ СТРАНЫ!)
        const buttons = [
            document.getElementById('button-am'),
            document.getElementById('button-ge')
        ];
        // Массив со строками select (!ОБНОВИТЬ ПРИ ДОБАВЛЕНИИ СТРАНЫ!)
        const selects = [
            document.getElementById('bank-select-am'),
            document.getElementById('bank-select-ge')
        ];
        // Функция для показа конкретной таблицы и деактивации кнопки
        function showElement(index) {
            tables.forEach((element, i) => {
                if (i === index) {
                    element.classList.remove('not-shown');
                } else {
                    element.classList.add('not-shown');
                }
            });
            buttons.forEach((element, i) => {
                if (i === index) {
                    selected_country = element.id.split('-')[1];
                    selected_table = document.getElementById("tech-table-" + selected_country);
                    form_select_bank = document.getElementById("bank-select-" + selected_country);
                    element.classList.add('disabled');
                } else {
                    element.classList.remove('disabled');
                }
            });
            selects.forEach((element, i) => {
                if (i === index) {
                    element.classList.remove('not-shown');
                } else {
                    element.classList.add('not-shown');
                }
            });
            document.getElementById('button-country').textContent = countries_list[index];
            selected_bank = 0;
            koefsChange();
        }
        // Привязка обработчиков событий (!ОБНОВИТЬ ПРИ ДОБАВЛЕНИИ СТРАНЫ!)
        document.getElementById('button-am').addEventListener('click', () => showElement(0));
        document.getElementById('button-ge').addEventListener('click', () => showElement(1));
        document.getElementById('button-am').addEventListener('click', () => logFormData2());
        document.getElementById('button-ge').addEventListener('click', () => logFormData2());

        function changeBank(index) {
            selected_bank = Number(document.getElementById("select-" + selected_country).value);
            koefsChange();
        }

        const formcur1 = document.getElementById('select-cur-1');
        const formcur2 = document.getElementById('select-cur-2');

        const input_form_1 = document.getElementById('input-form-1');
        const input_form_2 = document.getElementById('input-form-2');

        let koefstraight = selected_table.rows[selected_bank].cells[3].innerHTML;
        let koefreversed = selected_table.rows[selected_bank].cells[4].innerHTML;

        function koefsChange() {
            let i = 0;
            let o = 0;

            if (formcur1.value == 1){
                if (formcur2.value == 2) {
                    i = 3;
                    o = 4;
                }
                else {
                    i = 1;
                    o = 2;
                }
            }
            else {
                if (formcur1.value == 2) {
                    i = 4;
                    o = 3;
                }
                else {
                    i = 2;
                    o = 1;
                }
            }

            koefstraight = selected_table.rows[selected_bank].cells[i].innerHTML;
            koefreversed = selected_table.rows[selected_bank].cells[o].innerHTML;
        }

        // Функции для деактивации валют во второй форме
        function ConfigCurrency() {
            if (formcur1.value == 1) {
                document.getElementById('select-cur-2-option-1').setAttribute("disabled", "");
                document.getElementById('select-cur-2-option-1').removeAttribute("selected");
                document.getElementById('select-cur-2-option-2').removeAttribute("disabled");
                document.getElementById('select-cur-2-option-2').setAttribute("selected", "");
                document.getElementById('select-cur-2-option-3').removeAttribute("disabled");
            }
            else {
                document.getElementById('select-cur-2-option-1').removeAttribute("disabled");
                document.getElementById('select-cur-2-option-1').setAttribute("selected", "");
                document.getElementById('select-cur-2-option-2').setAttribute("disabled", "");
                document.getElementById('select-cur-2-option-2').removeAttribute("selected");
                document.getElementById('select-cur-2-option-3').setAttribute("disabled", "");
                document.getElementById('select-cur-2-option-3').removeAttribute("selected");
            }
        }

        // Функции для получения данных из формы и вывода их в консоль
        function logFormData() {
            const formData2 = new FormData(input_form_2);

            //const amount = formData.get('number');
            const amount2 = formData2.get('number2');

            const element = document.getElementById('number1');
            //const element2 = document.getElementById('number2');

            //console.log('Number:', amount);
            console.log('Number2:', amount2);


            element.value = (amount2 * koefreversed).toFixed(2);

            //element2.value = amount;
        }

        function logFormData2() {
            const formData = new FormData(input_form_1);

            const amount = formData.get('number1');
            //const amount2 = formData2.get('number2');

            //const element = document.getElementById('number');
            const element2 = document.getElementById('number2');

            console.log('Number:', amount);
            //console.log('Number2:', amount2);

            // element.value = amount2;

            element2.value = (amount * koefstraight).toFixed(2);
        }

        // Добавляем обработчики событий для всех полей формы
        input_form_2.addEventListener('input', logFormData);
        input_form_2.addEventListener('change', logFormData);

        input_form_1.addEventListener('input', logFormData2);
        input_form_1.addEventListener('change', logFormData2);

        formcur1.addEventListener('input', ConfigCurrency);
        formcur1.addEventListener('change', ConfigCurrency);
        formcur1.addEventListener('input', logFormData2);
        formcur1.addEventListener('change', logFormData2);
        formcur1.addEventListener('input', koefsChange);
        formcur1.addEventListener('change', koefsChange);

        formcur2.addEventListener('input', logFormData2);
        formcur2.addEventListener('change', logFormData2);
        formcur2.addEventListener('input', koefsChange);
        formcur2.addEventListener('change', koefsChange);

        form_select_bank.addEventListener('input', koefsChange);
        form_select_bank.addEventListener('change', koefsChange);
        form_select_bank.addEventListener('input', logFormData2);
        form_select_bank.addEventListener('change', logFormData2);
        form_select_bank.addEventListener('input', changeBank);
        form_select_bank.addEventListener('change', changeBank);

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>

</html>